.stats-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  background-color: gainsboro; 
  flex-wrap: wrap; 
  margin: 20px 0;
}


.stat-item {
  text-align: center;
  margin: 10px;
}


.stat-icon {
  font-size: 48px;
  color: #000;
}


.stat-item h3 {
  font-size: 24px;
  margin: 10px 0;
}

.stat-item p {
  font-size: 18px;
  color: #555;
}


@media (max-width: 768px) {
  .stats-container {
    justify-content: space-between;
  }

  .stat-item {
    flex: 0 0 45%; 
  }
}

@media (max-width: 480px) {
  .stat-item {
    flex: 0 0 100%; 
  }

  .stat-item h3 {
    font-size: 20px;
  }

  .stat-item p {
    font-size: 16px;
  }
}
